<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="text-center">
    <img
      src="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/logo/1627617472/RGB_Logo%20DH%20Greenwich%20%28VN%291.jpg"
      class="img-fluid" alt="Responsive image" width="50%;">

    <h1 style="color:rgb(130, 161, 18); ">Students of Course</h1>
  </div>
  <br>
  <nav class="navbar navbar-light bg-light justify-content-between">
  
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
    <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name Students</th>
        <th scope="col">Age Students</th>
        <th scope="col">Grade of Students</th>
        <th scope="col">Delete Student</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        {{#each fail}}
      <tr>
        <td>{{name}}</td>
        <td>{{age}} </td>
        {{!-- <td>{{course_id}} </td> --}}
        
        <td>{{fails}} </td>
        <td><a href="/delete?id={{_id}}"> Delete</a></td>
        
      </tr>
      {{/each}}

      </tr>
    </tbody>
  </table>
</body>
</html>