<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="text-center">
    <img
      src="https://cms.greenwich.edu.vn/pluginfile.php/1/theme_adaptable/logo/1627617472/RGB_Logo%20DH%20Greenwich%20%28VN%291.jpg"
      class="img-fluid" alt="Responsive image" width="50%;">

    <h1 style="color:rgb(130, 161, 18); ">Grades of Student</h1>
  </div>
  <div class="alert alert-primary" role="alert" style="">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="24" height="24" ><path fill-rule="evenodd" d="M4.855.708c.5-.896 1.79-.896 2.29 0l4.675 8.351a1.312 1.312 0 01-1.146 1.954H1.33A1.312 1.312 0 01.183 9.058L4.855.708zM7 7V3H5v4h2zm-1 3a1 1 0 100-2 1 1 0 000 2z"></path></svg>
  {{sorry}} {{loi}}
</div>
  <form action="/updateGrade" method="post">
  Name Student
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with checkbox" name="txtName"
        value="{{note.name}}">
    </div>
    Age Student

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input">
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with radio button" name="txtAge"
        value="{{note.age}}">
    </div>
     Grade Pass points
     <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" aria-label="Checkbox for following text input">
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with checkbox" name="txtPass" value="{{note.pass}}">
    </div>
  
     Grade Fail points
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="radio" aria-label="Radio button for following text input">
        </div>
      </div>
      <input type="text" class="form-control" aria-label="Text input with radio button" name="txtFail"
        value="{{note.fails}}">
    </div>
 

    <input type="hidden" class="form-control" aria-label="Text input with checkbox" name="txtCourseId"
      value="{{note.course_id}}">

    
    <input type="hidden" class="form-control" aria-label="Text input with radio button" name="txtId"
      value="{{note._id}}">
      
      <br>
      <button type="submit" class="btn btn-secondary btn-lg btn-block">Button</button>

  </form>
  


</body>

</html>